# Ignore downloaded json file in some subfolders
# Add more subfolders when necessary
downloaded/*.json

# Ignore output images in default subfolder
output/*.png

# Ignore transformer models subfolders, but not files directly under ./models
# Add more when necessary
models/**/

# Ignore auxiliary data required by packages, like nltk's stopwords
# Add more when necessary
nltk_data/

# Python caches
**/__pycache__/